{% extends 'main/confirmation_template.html' %}

{% block title %}Password Changed Successfully{% endblock %}

{% block content %}
<h1 style="text-align: center"><strong>Password Changed</strong></h1>
<p>Sign in with your new password from now on</p>

<div class="button" style="text-align: center">
    <form action="/login">
        <button class="mdc-button mdc-button--raised mdc-button--icon-leading" style="background: var(--md-sys-color-primary-dark)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <i class="material-icons mdc-button__icon" style="color: var(--md-sys-color-on-primary-dark)" aria-hidden="true">home</i>
          <span class="mdc-button__label" style="color: var(--md-sys-color-on-primary-dark)">Log in</span>
        </button>
    </form>
</div>
<div class="button" style="text-align: center">
    <form action="{% url 'home' %}">
        <button class="mdc-button mdc-button--raised mdc-button--icon-leading" style="background: var(--md-sys-color-primary-dark)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <i class="material-icons mdc-button__icon" style="color: var(--md-sys-color-on-primary-dark)" aria-hidden="true">home</i>
          <span class="mdc-button__label" style="color: var(--md-sys-color-on-primary-dark)">Return to Home Page</span>
        </button>
    </form>
</div>

{% endblock %}