{% extends 'registration/login_template.html' %}

{% block title %}Register{% endblock %}

{% block heading %}Register{% endblock %}

{% block content %}
{% for field in form %}
    <div class="form-row">
        {{ field }}
        <label for="{{ field.id_for_label }}" class="form__label"
               style="background: var(--md-sys-color-surface-variant-dark); color:var(--md-sys-color-on-surface-variant-dark);">
            {{ field.label }}
        </label>
        <div class="helper-text">
            {{ field.errors.0 }}
        </div>
    </div>
{% endfor %}
<div class="form-row">
    <button class="mdc-button mdc-button--raised" id="submit-button"
            style="background: var(--md-sys-color-primary-dark); margin: 20px 0 20px 0; width:280px">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__focus-ring"></span>
        <span class="mdc-button__label" style="color: var(--md-sys-color-on-primary-dark)">Sign up</span>
    </button>
</div>
{% endblock %}
