{% extends 'main/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1><strong>About Us</strong></h1>
    <p>Seagrave Building Systems Ltd. is a Canadian-owned company specializing in supplying of steel buildings systems.
        Since 1982, Seagrave has supplied steel buildings for a wide variety of applications including industrial,
        commercial, recreational, institutional and farm related structures.
    </p>
    <h2><strong>Why Seagrave Building Systems?</strong></h2>
    <p>Our materials are “steel” based for strength with state-of-the-art technology in providing a super strong,
        maintenance-free, stylish building. Our superior engineering can meet or exceed all building code strength
        requirements in your area for your long-term protection. Whether it is snow blizzards or hurricane force winds,
        Seagrave Building Systems has stood up to the test time and time again!
    </p>
    <p>While there are alternative building choices (wood, masonry, etc.) and even cheap imitations that claim to be
        “just like ours,” there really is only one true building. Your new steel building can provide you a return on
        your investment of up to 300% or more in your real estate values! We are very proud to be made in Canada, just
        as proud as you will be when you are standing inside your new steel building.
    </p>
{% endblock %}