{% extends 'main/building_structures.html' %}

{% block title %}Aircraft Hangars{% endblock %}

{% block content %}
<h1><strong>Aircraft Hangars</strong></h1>
    <p>In the aircraft industry even the smallest of airplanes represents an investment totaling thousands of dollars
        in initial investment and more money in necessary maintenance. When you invest in a steel aircraft hangar,
        you’re protecting your investment and providing a suitable service structure using some of the most durable,
        high quality, and cost-effective materials available.
    </p>
{% endblock %}