{% extends 'main/building_structures.html' %}

{% block title %}Aircraft Hangars{% endblock %}

{% block content %}
<h1><strong>Aircraft Hangars</strong></h1>
    <p>In the aircraft industry even the smallest of airplanes represents an investment totaling thousands of dollars
        in initial investment and more money in necessary maintenance. When you invest in a steel aircraft hangar,
        you’re protecting your investment and providing a suitable service structure using some of the most durable,
        high quality, and cost-effective materials available.
    </p>
    <p>
        There are several reasons why an airplane hangar might be constructed using pre-engineered steel:
    </p>

    <ul>
        <li>
            <strong>Cost</strong>: Pre-engineered steel buildings are more cost-effective than traditional
            building methods, especially when the building is large or has complex design features.
        </li>
        <li>
            <strong>Durability</strong>: Steel is a very strong and durable material that can withstand extreme weather
            conditions and the wear and tear of daily use. This makes it an ideal choice for an airplane hangar, which
            needs to be able to withstand high winds and potentially heavy snow loads.
        </li>
        <li>
            <strong>Speed of Construction</strong>: Pre-engineered steel buildings can be constructed in a fraction of
            the time required for traditional construction methods.
        </li>
        <li>
            <strong>Customization</strong>: Pre-engineered steel buildings can be customized to meet specific size and
            design requirements, allowing for a hangar that is tailored to the needs of the user.
        </li>
        <li>
            <strong>Energy Efficiency</strong>:  Pre-engineered steel buildings can be designed with energy-efficient
            features, such as insulation and energy-efficient lighting, to help reduce energy costs.
        </li>
    </ul>
    <p>
        There are a wide range of design features that can be included in an airplane hangar, depending on the specific
        needs and requirements of you, the customer. Some examples of complex design features that might be included in
        one of our airplane hangar's designs include:
    </p>
    <ul>
        <li>
            <strong>Insulation</strong>: Insulation and an optional energy-saver vapour barrier system can be added to
            the walls and ceiling of the hangar to help reduce energy costs and keep the hangar at a comfortable
            temperature.
        </li>
        <li>
            <strong>Large Doors</strong>: Airplane hangars need to be able to accommodate the size and shape of the
            aircraft being stored inside, we can design and supply doors large enough to allow the aircraft to pass
            through easily.
        </li>
        <li>
            <strong>Lighting</strong>: Hangars may require specialized lighting systems to provide adequate
            illumination for maintenance and repair work on aircraft.
        </li>
        <li>
            <strong>Electrical Systems</strong>: Hangars may require specialized electrical systems to
            provide adequate power for maintenance and repair work on aircraft.
        </li>
        <li>
            <strong>Ventilation Systems</strong>: Hangars may require specialized ventilation systems to
            provide adequate ventilation for maintenance and repair work on aircraft.
        </li>
        <li>
            <strong>Flooring</strong>: The floor of an airplane hangar needs to be able to support the
            weight of aircraft and withstand the wear and tear of daily use. This may require the use of specialized
            flooring materials or reinforced concrete.
        </li>
        <li>
            <strong>Fire Protection</strong>: Hangars may require specialized fire protection systems to
            provide adequate protection for maintenance and repair work on aircraft.
        </li>
        <li>
            <strong>Environmental Controls</strong>: Hangars may need to be designed with systems to control temperature,
            humidity, and other environmental factors to ensure that aircraft are stored in optimal conditions.
        </li>
        <li>
            <strong>Structural Support</strong>: Depending on the size and weight of the aircraft being stored in the
            hangar, the structure of the building may need to be designed with additional structural support to ensure
            its stability.
        </li>
        <li>
            <strong>Security</strong>: Hangars may need to be designed with security features to ensure that aircraft
            are stored in a secure environment, protected from theft and vandalism.
        </li>
        <li>
            <strong>Mezzanines and Offices</strong>: Hangars may include mezzanines or offices for storage, maintenance,
            or other purposes. These areas may require additional design considerations, such as staircases and
            partition walls.
        </li>
    </ul>
    <p>
        Steel aircraft hangars are a great choice for a variety of reasons. They are easy to maintain, they are
        durable, and they are cost-effective. Steel aircraft hangars are also easy to customize, allowing you to
        create a structure that is perfectly suited to your needs. Steel aircraft hangars are also easy to expand
        and modify, allowing you to add on to your structure as your needs change.
    </p>
{% endblock %}