{% extends 'main/products.html' %}
{% load static %}
{% block title %}Clear Span Structures{% endblock %}

{% block content %}
<h1><strong>Clear Span Structures</strong></h1>
<img src="{% static 'pictures/clear-span.gif' %}" style="float: left; margin-right: 20px">
<p style="text-align: justify; margin-right: 20px">
    The Clear-Span Building is an all-steel building designed by Seagrave Building Systems. The building width and
    length are measured from the outside face of girts to the outside face of girts. The building height is measured
    from the underside of baseplate level to the intersection of the girt line and top of the roof purlins.
    The roof profile is a symmetrical gable.
</p>
<p style="text-align: justify; margin-right: 20px">
    Individually designed, welded rigid frames span the entire width of the building without the use of additional
    interior columns, giving an obstruction free interior. Each rigid frame consists of two tapered columns and rafters
    as required depending on the span. The maximum depth of section occurs at the haunch. Seagrave Building Systems
    supplies the structural system, wall and roof cladding, flashings and fasteners ready for erection. Field
    connection of structural framing is made by bolting.
</p>
<p>&nbsp;</p>

<h2><strong>Roof Slope</strong></h2>
    <p>1″ in 12″ Standard, 1/4″ in 12″ to 6″ in 12″ inclusive, is optional.</p>

<h2><strong>Accessories</strong></h2>
<p>
Standard accessories such as door and window openings, translucent wall lights, translucent skylights, gutters,
downspouts, eave trim and factory applied colours for the coverings are supplied when ordered.
</p>

<h2><strong>Standard Building Sizes</strong></h2>
<p>
Building sizes are provided as ‘standard’ and are to be used as a basis from which ‘non-standard’ buildings may be
estimated for their member sizes, clearances, foundation reactions, etc.
</p>

<h2><strong>Standard Frame Design Loads</strong></h2>
<p>
The frame designs are tabulated by live load which is normally the roof snow load multiplied by the tributary length
carried by the frame in question. You must add any collateral loads, if required (i.e. mechanical, electrical,
sprinkler, ceiling, insulation etc.) to the live load when selecting the appropriate standard frame design. The
dead load allowance includes the weight of the frame itself plus 4 psf for purlins, roof cladding and bracing.
The wind load is based on a q(1/30) of 10 psf. Both the dead load and wind load assume a 25′ bay.
</p>

<h2><strong>Special Structural Requirements</strong></h2>
<p>
The standard building sizes shown in this section do not indicate the full range. Upon request, Seagrave Building
Systems will perform the necessary structural design investigation when special building sizes, excessive live
loads, wind loads or dynamic loads from material handling systems (cranes, hoists, etc) are required. The building
frame, etc. will then be determined for the conditions specified.
</p>

{% endblock %}