{% extends 'main/building_structures.html' %}

{% load static %}
{% block title %}Commercial/Industrial{% endblock %}

{% block content %}
<h1><strong>Commercial/Industrial</strong></h1>
<h3><strong>Commercial Structures</strong></h3>
    <p>
    Whether your needs are a restaurant, grocery store, lumber supply, shopping center or car dealership, we provide
    you with a steel building system to fit your needs and budget. By working closely with us, you can plan on a project
    that is lower in cost and faster to build than most conventional buildings. Owners, architects, engineers, and
    developers choose steel buildings for their beauty, functional design, short completion time, and durability.
    </p>

<h3><strong>Industrial - Warehouse Structures</strong></h3>
    <p>
    When building an industrial warehouse, choose the most cost-effective solution on the market today, prefabricated
    or custom designed metal storage building. We save you time and money by reducing traditional construction time
    associated with brick, wood, or block structures. Each building is fully customizable with a variety of ceiling
    lights, windows, insulation, doors, and more. Our building lengths and widths are limitless to accommodate any
    warehousing need at an affordable price. Because we sell directly to you the customer, you save time and money.
    </p>


{% endblock %}