{% extends 'main/building_structures.html' %}

{% load static %}
{% block title %}Commercial/Industrial{% endblock %}

{% block content %}
<h1><strong>Commercial/Industrial</strong></h1>
<h3><strong>Commercial Structures</strong></h3>
    <p>
        There are several advantages to using pre-engineered steel buildings in the construction of commercial buildings:
    </p>
    <ul>
        <li>
            <strong>Speed of Construction</strong>: The pre-engineered steel building system is a modular system that
            is fabricated in a controlled environment. This allows for the construction of the building to be completed
            in a fraction of the time it would take to build a conventional building, allowing you to get down to business
            and start making money as quickly as possible.
        </li>
        <li>
            <strong>Flexibility</strong>: The pre-engineered steel building system is a modular system that can be
            designed to fit your specific needs. The building can be designed to be as large or as small as you need,
            and can be designed to fit your specific needs. Pre-engineered steel buildings can be easily modified or
            expanded as the needs of the business change over time.
        </li>
        <li>
            <strong>Cost of Construction</strong>: Pre-engineered steel buildings are typically less expensive than
            traditional building methods, as they require less labour and materials.
        </li>
        <li>
            <strong>Durability</strong>:  Steel is a strong and durable material that can withstand harsh weather
            conditions and heavy loads. Pre-engineered steel buildings are designed to last for many years with minimal
            maintenance.
        </li>
        <li>
            <strong>Energy Efficiency</strong>: Pre-engineered steel buildings can be designed with energy-efficient
            features such as insulation, vapour barrier, and energy-efficient windows to reduce energy consumption.
        </li>
        <li>
            <strong>Low Maintenance</strong>: Pre-engineered steel buildings are designed to be low maintenance. The
            steel frame is designed to be rust resistant, and the exterior cladding is designed to be low maintenance.
        </li>
        <li>
            <strong>Fire Resistance</strong>: The steel frame, exterior cladding, and insulation are all designed to be
            fire-resistant.
        </li>
        <li>
            <strong>Sustainability</strong>: Steel is a sustainable building material that can be recycled and reused,
            making pre-engineered steel buildings an environmentally-friendly choice.
        </li>
        <li>
            <strong>Aesthetics</strong>: Pre-engineered steel buildings can be designed to have a modern and attractive
            appearance, making them suitable for a variety of commercial applications.
        </li>
    </ul>
    <p>
        Whether your needs are a restaurant, grocery store, lumber supply, shopping center or car dealership, we provide
        you with a steel building system to fit your needs and budget. By working closely with us, you can plan on a project
        that is lower in cost and faster to build than most conventional buildings. Owners, architects, engineers, and
        developers choose steel buildings for their beauty, functional design, short completion time, and durability.
    </p>

<h3><strong>Industrial Structures</strong></h3>
    <p>
        Steel buildings are the most cost-effective solution for industrial buildings. They are designed to withstand
        the harshest weather conditions and are virtually maintenance free. Steel buildings are also the most flexible
        building system available. They can be designed to meet any size, shape, or height requirement. Steel buildings
        are also the most environmentally friendly building system available. They are 100% recyclable and can be
        designed to meet LEED requirements.
    </p>
    <p>
        Pre-engineered steel buildings can be used to construct a wide range of large industrial buildings, including:
    </p>
    <ul>
        <li><strong>Manufacturing Plants</strong></li>
        <li><strong>Warehouses</strong></li>
        <li><strong>Processing Plants</strong></li>
        <li><strong>Storage Facilities</strong></li>
        <li><strong>Workshops</strong></li>
        <li><strong>Assembly Plants</strong></li>
        <li><strong>Processing Plants</strong></li>
        <li><strong>Distribution Centers</strong></li>
        <li><strong>Industrial Parks</strong></li>
        <li><strong>Trucking Terminals</strong></li>
        <li><strong>Power Plants</strong></li>
        <li><strong>Refrigerated Warehouses</strong></li>
        <li><strong>Research and Development Centers</strong></li>
    </ul>
    <p>
        These are just a few examples of the types of industrial buildings that can be constructed using pre-engineered
        steel buildings. The versatility of steel as a building material means that it can be used to create structures
        of almost any size, shape, or function.
    </p>

<h3><strong>Industrial - Warehouse Structures</strong></h3>
    <p>
        When building an industrial warehouse, choose the most cost-effective solution on the market today, prefabricated
        or custom designed metal storage building. We save you time and money by reducing traditional construction time
        associated with brick, wood, or block structures. Each building is fully customizable with a variety of ceiling
        lights, windows, insulation, doors, and more. Our building lengths and widths are limitless to accommodate any
        warehousing need at an affordable price. Because we sell directly to you the customer, you save time and money.
    </p>


{% endblock %}