{% extends 'main/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h1><strong>Contact Us</strong></h1>
    <p><strong>For a perfect solution to your construction needs, on time and within budget, contact us today.</strong></p>
<p>
    <strong>Toll Free:</strong> <a class="phone" href="tel:+18883689088">888-368-9088</a><br>
    <strong>Phone:</strong> <a class="phone" href="tel:9052596530">(905) 259-6530</a><br>
    <strong>Fax:</strong> (647) 361-9830<br>
    <strong>Email:</strong> <a href="mailto:info@seagravebuildings.com">info@seagravebuildings.com</a>
</p>
<p>
    <strong>Seagrave Building Systems Ltd.</strong>
    55 Robinglade Ave. <br>
    Seagrave, ON L0C 1G0 <br>

    580 East Townline <br>
    Newcastle, ON L1B 1L9 <br>
</p>

{% endblock %}