{% extends 'main/building_structures.html' %}

{% block title %}Farm and Ranch Structures{% endblock %}

{% block content %}
    <h1><strong>Farm and Ranch Structures</strong></h1>
    <p>
        <strong>At the heart of every farm or ranch is the farm or ranch structure.</strong> Whether it's a barn, a shop,
        a garage, a house, or a combination of all of these, the farm or ranch structure is the center of the operation.
        It's where the animals are kept, where the equipment is stored, where the food is prepared, and where the family
        lives. It's where the farm or ranch is run from.
    </p>
    <h2><strong>Storage</strong></h2>
    <p>
        A steel building can be used to store farm equipment, tools, and other supplies. It can also be used to store
        hay, grain, and other feed. A steel building can be used to store anything that needs to be kept dry and out of
        the weather or shielded from the sun, helping to preserve everything from your crops and grains,
        to the paint job on your tractors.
    </p>
    <h2><strong>Shops</strong></h2>
    <p>
        A steel building can be used as a workshop where farmers and ranchers can repair and maintain their equipment.
        It can be used as a shop for any purpose, and can be designed to meet any requirements you may have.
    </p>
    <h2><strong>Barns & Livestock Shelter</strong></h2>
    <p>
        Your animals represent a big investment, including the time it takes for care and training. You need a low
        maintenance, lifetime building that can provide shelter for livestock, such as cows, horses, and pigs. You can
        customize your building with your choice of door and window layout, making your building functional and easy to
        work in. All steel buildings are easy to clean to give your building lasting good looks.
    </p>
    <h2><strong>Processing Facility</strong></h2>
    <p>
        A steel building can be used as a processing facility for farm products, such as milk, cheese, or meat. It can
        be used to process livestock, such as cattle, hogs, and sheep, or crops, such as grains, fruits, and
        vegetables. A steel building can be used for any purpose, and can be designed to meet any requirements you may
        have.
    </p>
    <h2><strong>Event Space</strong></h2>
    <p>
        A steel building can be used to host events, such as rodeos, races, weddings, parties, or conferences. Covered
        arenas provide shelter from the sun, rain, and mud. Whether jumping, roping, or barrel-racing, our uninhibited
        clearspans create safer conditions because of the higher ceilings and lack of interior columns. We can provide
        the very best solutions to the unique needs of the equestrian enthusiasts and business people around the world.
    </p>
{% endblock %}