{% extends 'main/base.html' %}

{% block title %}Glossary of Terms{% endblock %}

{% block content %}
<h1><strong>Glossary of Terms</strong></h1>
<div role="separator" class="mdc-deprecated-list-divider" style="background: var(--md-sys-color-on-background-dark)"></div>
<p>&nbsp;</p>
    <p><strong>Anchor Bolts</strong><br>
    Bolts utilized to secure building components to the foundation. In the case of primary framing, these bolts are
    embedded in the foundation and secured to the column baseplate.
    </p>
    <p><strong>Bay Spacing</strong><br>
    The distance between primary framing members measured parallel to the ridge or eave. Interior bays are measured from
    center line of frame to center line of frame.
    </p>
    <p><strong>Building Height</strong><br>
    Building height is the eave height which usually is the distance from the bottom of the main frame column baseplate
    to the top outer point of the eave strut. Eave height is the distance from the finished floor to the top outer point
    of the eave strut.
    </p>
    <p><strong>Building Length</strong><br>
    The distance between the outside flanges of end wall columns in opposite end walls is considered the building length
    is a combination of several bay lengths.
    </p>
    <p><strong>Building Width</strong><br>
    No matter what primary framing system is used, the building width is defined as the distance from outside of eave
    strut of one sidewall to outside of eave strut of the opposite sidewall.
    </p>
    <p><strong>Clear Height</strong><br>
    Distance from the finished floor to the bottom of the rafter at the rafter-to-column connection.
    </p>
    <p><strong>Clear Span</strong><br>
    Distance between columns.
    </p>
    <p><strong>Cold Formed Section</strong><br>
    A structural shape that is formed by bending thin gauge (typically 10-16 ga.) material at ambient temperature. This
    is typically done on a roll former.
    </p>
    <p><strong>Column</strong><br>
    Vertical support member for primary framing system.
    </p>
    <p><strong>Design Loads</strong><br>
    Design loads are the forces the building will be subjected to. Required design loads must be specified at time of
    quotation. Loads are applied in accordance with the latest building codes and standards applicable to pre-engineered
    buildings.
    </p>
    <p><strong>Haunch</strong><br>
    The area of increased depth of the column or rafter member which is designed to account for the higher bending
    moments that occur at such places. Typically, this occurs at the rafter-to-column connection.
    </p>
    <p><strong>Post-and-Beam Endframe</strong><br>
    A structural framing system utilized at the end wall which is composed of corner post, end post and rake beams.
    </p>
    <p><strong>Rafter</strong><br>
    A fabricated member, that extends from the haunch member to the frame ridge. Any beam, in general, used in a primary
    frame.
    </p>
    <p><strong>Rod Bracing</strong><br>
    Rods are utilized in conjunction with purlins and girts to form a truss-type bracing system located in both roof and
    wall planes.
    </p>
    <p><strong>Roof Purlin</strong><br>
    A roof secondary member which is secured to frame rafters and supports the roof covering.
    </p>
    <p><strong>Roof Slope (x/12)</strong><br>
    This is the angle of the roof with respect to the horizontal. The most common roof slopes are 0.5/12 and 1/12.
    Any practical roof slope is possible.
    </p>
    <p><strong>Roof System</strong><br>
    The exterior roof surface consisting of panels, closures and attachments.
    </p>
    <p><strong>Sidewall</strong><br>
    An exterior wall which is parallel to the ridge and sidewall of the building.
    </p>
    <p><strong>Three-Plate</strong><br>
    A built-up beam section, forming an ‘I’ shape, that consists of 2 flanges and 1 web. Using three-plate over
    conventional structural shapes allows for greater strength at a reduced weight. These sections are often tapered to
    optimize performance.
    </p>
    <p><strong>Wall Girt</strong><br>
    A horizontal wall secondary member which is secured to columns and supports the wall covering.
    </p>
    <p><strong>Wall System</strong><br>
    The exterior wall surface consisting of panels, closures and attachments.
    </p>
{% endblock %}