{% extends 'main/base.html' %}

{% block title %}Seagrave Building Systems Ltd.{% endblock %}

{% block content %}
<p>Seagrave Steel Building Systems is a Canadian family owned and operated company, established in 1982.
    We specialize in providing the design of CSA-A660 certified steel buildings systems through an ISO 9001
    registered company. Seagrave has supplied steel buildings for a wide variety of applications including
    industrial, commercial, recreational, institutional and farm related structures.
</p>
<p>Seagrave offers a full line of bridge cranes and hoists to compliment the pre-engineered building system.
    Since Seagrave can provide you, the customer, a cost-effective solution by optimizing both the building
    system and the crane system.
</p>
<h2><strong>Before You Buy</strong></h2>
<h3><strong>Don’t believe the lies like canceled buildings discount</strong></h3>
<p>We recommend some caution in considering purchasing any building whether it be farm, commercial,
    industrial, storage etc. All steel buildings are an excellent value with no maintenance and almost
    lifetime trouble free service. When choosing a steel building manufacturer, or dealing with a reputable
    dealer (we stress reputable) there are a number of points that you should be aware of. All buildings are
    not equal; in fact, some buildings do not even meet building code standards and could be a very poor
    investment. With steel buildings, like many things, you get what you pay for.
</p>
<h3><strong>Don’t fall for sales pitches and pressure sales</strong></h3>
<p><strong>Take time out to review the following checklist before you make your investment.</strong></p>
<ul>
    <li>The drawings are stamped by an engineer, registered in good standing with the province in which you
        want to build. If you have any doubts about the engineer, call the association of provincial
        engineers (416-961-1100).
    </li>
    <li>Foundation and reaction loads are supplied. They are required to properly design the foundation.</li>
    <li>Roof and sidewalls are a minimum of 26 gauge steel with an AZI165 galvalume coating.</li>
    <li>The roof and sidewalls are a minimum of 1-1/2 inch deep individual rib panel.</li>
    <li>The manufacturer of the building is certified by the Canadian Welding Bureau. (416-542-1312)</li>
    <li>All welding is done to Canadian Standard Association CSA W59.</li>
    <li>Canadian Sheet Steel Building Institute certificate of design is supplied certifying the building is
        designed to the required building code and snow load.
    </li>
    <li>Mill test reports are available for all the steel used in your building.</li>
    <li>A most recent law also requires the building is CSA-A660 certified, or it would be illegal and the
        building department would reject it.
    </li>
</ul>
<p>At this time we would like to thank you for the opportunity to provide you with our quote. We wish you
    the best of luck regardless of whether you purchase your all steel building from us or not.
</p>
{% endblock %}