{% extends 'main/building_structures.html' %}
{% block title %}Workshops{% endblock %}

{% block content %}
<h1><strong>Workshops & Garages</strong></h1>
<p>
    Manufactured exclusively in Canada, these remarkable buildings are ideal for Garages and Workshops that will meet
    all of your automotive storage and repair shop needs. Our buildings offer a very easy and affordable building that
    will keep your cars, trucks, SUVs and RVs sheltered from damaging rain, sun and snow. We deliver garages and
    workshops that are reasonably priced and fully customizable whether you need to store a few classic cars, or you
    need to store hundreds of vehicles for a car dealership. Column-free interiors of up to 200 feet can allow you to
    park your vehicles without having to maneuver around inconvenient support beams. We can work together to help you
    design a versatile automobile storage facility or workshop today.
</p>
{% endblock %}