body {
  overflow-y: hidden;
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
}

.appbar {
  background-color: aqua;
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
}

.content {
  margin-top: 90px;
}